$grids: 12; // sets the grid to 12 columns
$gutters: 1/3;  // one-third the size of a column

// set Breakpoint variables
$tab: 40em; // got from Ohm theme
$desk: 70em; // got from Ohm theme

$between: 50em 55em;

// $touch: point coarse, 'no-query' '.touch';