/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* line 1, ../../scss/partials/design/_branding.scss */
div#zone-branding-wrapper.zone-wrapper.zone-branding-wrapper.clearfix {
  background-color: #F00F00;
}

/* line 4, ../../scss/partials/design/_branding.scss */
#id-page {
  background-color: #F00F00;
}

/* line 1, ../../scss/partials/design/_footer.scss */
#zone-footer-wrapper {
  background-color: #f2f1ec;
}

/* line 2, ../../scss/partials/design/_header.scss */
#zone-branding-wrapper,
#zone-menu-wrapper {
  background-color: #332d2d;
}

/* line 6, ../../scss/partials/design/_header.scss */
#zone-menu-wrapper a {
  font-family: "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  color: #f2f1ec;
  text-decoration: none;
  text-transform: uppercase;
}

/* line 13, ../../scss/partials/design/_header.scss */
#zone-header-wrapper {
  background-color: #f2f1ec;
}

/* line 1, ../../scss/partials/design/_postscript.scss */
#zone-postscript-wrapper {
  background-color: #f2f1ec;
}

/* line 1, ../../scss/partials/design/_user.scss */
#zone-user-wrapper {
  background-color: #f2f1ec;
}
