////////////////////////
// Variables Partials
//
// All of your variables should go in this file.
////////////////////////


$tablet: 640px 959px;
$desktop: 960px;

// Colors
$color-body: #E5E5E5;
$color-lightbeige: rgb(242,241,236); // Branding background #F2F1EC
$color-darkgray: #C9C9C9;
$color-darkblue: rgba(0,51,102,1.0);
$color-lightblue: rgba(241,240,255,0.5);
$color-white: #FFFFFF;     // white
$color-black: #3D3D3D;     // dark, near-black

// Front page text colors
$color-link: #8C8984;     // gray text
$color-visited: #8C8984;     // gray text
$color-hover: #000000;     // black text
$color-active: #E09A49;     // orange text


// Fonts
$times-new-roman: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
$times:           Times, "Times New Roman", Georgia, "DejaVu Serif", serif;
$georgia:         Georgia, "Times New Roman", "DejaVu Serif", serif;
$verdana:         Verdana, Tahoma, "DejaVu Sans", sans-serif;
$tahoma:          Tahoma, Verdana, "DejaVu Sans", sans-serif;
$helvetica:       "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L", sans-serif;
$arial:           "Arial Narrow", Arial, Helvetica, "Nimbus Sans L", sans-serif;

$font-body: $tahoma;
$form-font-family: $arial;

body {
	background-color: $color-body;
	a {
		font-family: $tahoma
	}
	h5 {
		font-family: $tahoma
	}

}

