////////////////////////////////////////
// Front page
////////////////////////////////////////
#zone-content-wrapper {
	margin-top: 1.5em;	
}

#block-system-navigation li {
	font-family: $verdana;
	a {
		color: $color-link;
		text-decoration: none;
		font-size: 1.10em;
	} 
}

#block-system-navigation h2 {
	font-family: $verdana;
	color: $color-active;
	font-size: 1.50em;
}

#block-views-slider-block h2 {
	font-family: $verdana;
	color: $color-active;
	font-size: 1.50em;
	text-decoration: none;
	padding-bottom: 0.75em;}

.node-title a {
	font-family: $verdana;
	color: $color-active;
	text-decoration: none;
	font-size: 0.75em;
}

#region-content.grid-6 {
	border-radius: 50px;
}

#section-content {
	padding-top: 1.0em;
}

h1#page-title.title {
	clear: both;
	font-family: $verdana;
	color: $color-active;
	text-decoration: none;
	font-size: 1.25em;
}

h2.block-title {
	font-family: $verdana;
	color: $color-active;
	text-decoration: none;
}

#node-article-1281 > div:nth-child(3) > nav:nth-child(1) > ul:nth-child(1) > li:nth-child(1) > a:nth-child(1) {
	display: none;
}

////////////////////////////////////////
// Sidebar First
////////////////////////////////////////
.block-facetapi,
.sidebar-orb {
	background-color: #FFFFFF;
	margin-bottom: 0.5em;
	border-style: solid;
	border-width: 2.0px;
	border-color: #999999;
	padding: 0.5em;
	border-radius: 5.0px;
	font-size: 0.75em;
	max-width: 200px;
	float: left;
}

#region-sidebar-first {
	padding-bottom: 1.5em;
}

#region-sidebar-first h2.block-title {
	font-size: 1.25em;
}

.class-1 {
	font: 0.75em, sans-serif;
	font-weight: normal;
	/* Field display */
	.field .field-label,
	.group-left {
		font-weight: normal;
	}
	img {
		float: left;
	}
}

.field-label-inline .field-label {
	color: $color-darkblue;
	font-weight: normal;
}

.field-label-inline .field-items {
	color: $color-black;
	font-weight: bold;
}


.fullname {
	color: blue;
	font-size: 1.25em;
	a:link {
	    text-decoration: none;
	}

	a:visited {
	    text-decoration: none;
	}

	a:hover {
	    text-decoration: underline;
		color: red;
	}

	a:active {
	    text-decoration: none;
	}
}

// astro-list: public and private
.tableview {
	font-size: 0.78em;
}

.group-footer {
	padding-top: 2.0em;
}

table.aspects {
	margin-bottom: 2.0em;
}
// planet-sign-house-description (e.g., astro3/sun-aries)
.planet-placement-format {
	float: left; 
	margin-right: 10px; 
	border-width: 0px; 
	border-style: none;
	.align-middle {
		display:inline-block;
		line-height:50px;
		vertical-align:top;
	}
}

.moon-color table {
	 width: 426px;
}
.moon-color p {
	font-size: 0.85em;
	margin-top: -20px;
}
.moon-color td {
	border: 2px solid $color-darkgray;
	text-align:center;
}

////////////////////////////////////////
// Sidebar Second
////////////////////////////////////////
h2.block-title {
	font-size: 1.25em;
}
