#zone-menu-wrapper {
	padding-bottom: 1.0em;
	padding-top: 0.5em;
}

.main-menu li {
	#inline-block {
	  @include inline-block;
	  padding: 10px 10px;
	}
}

#zone-menu-wrapper a {
	font-family: $tahoma;
	color: $color-lightbeige;
	text-decoration: none;
}

#zone-menu-wrapper {
	background-color: $color-body;
	font-size: 1.20em;
}

div#zone-menu-wrapper ul {
	
	a:link {
	    color: $color-link;
	    text-decoration: none;
	}
	a:visited {
	    color: $color-visited;
	    text-decoration: none;
	}
	a:hover {
	    color: $color-hover;
	    text-decoration: none;
	}
	.active a {
	    color: $color-active;
	    text-decoration: none;
		text-style: bold;
	}
}

