#zone-user-wrapper {
	background-color: $color-lightbeige;
}

#block-user-login h2.block-title {
	font-family: $verdana;
	color: $color-active;
	font-size: 1.50em;
	padding-top: 1.0em;
}

#user-login-form {
	color: $color-link;
}

.item-list li {
	a {
	color: $color-link;
	}
}